<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="stylesheet" href="/css/vendor.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body>
    {{{body}}}
  <script src="./js/main.build.js"></script>
  <script src="./js/main.js"></script>
  </body>
</html>
